nav ul {
  list-style: square;
  padding: 1rem; /* fixed unit */
  margin-top: 0rem;
  text-align: center;
  background-color: #002233;
  margin-top: 0px;

}

nav ul li {
  display: inline-block;
  margin: 0rem;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  background-color: #1e1e1e;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;


  /* 👇 Add transition for both color and font-size */
  transition: color 0.3s ease, font-size 0.3s ease;
}

nav ul li a:hover {
    font-weight: bold;
  font-size: 1.25rem;
  box-shadow: 0px 0px 0.3125rem rgba(255, 255, 255, 0.5);
  
}






body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #001653, #64005b 70%, #001653);
    margin: 0rem;
    padding: 0rem;
    min-height: 800vh;
}

.topbar {
    background-color: #191919;
    color: white;
    padding-top: 0rem;
    text-align: center;
    height: 2rem;
    width: 100%;
}

/*        Text        */



h1 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 0.2rem;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}





/*        Boxes        */


.Box1 {
    border: 0.225rem solid #6a00bb;
    border-radius: 0.625rem;
    padding: 1rem;
    margin: 5rem;
    height: 40rem;
    padding-bottom: 20px;
    box-shadow: 0px 0px 6.625rem rgba(179, 0, 164, 0.5);
}


.Box2 {
    border: 0.225rem solid #0076bb;
    border-radius: 0.625rem;
    padding: 1rem;
    margin: 5rem;
    height: 40rem;
    padding-bottom: 20px;
    box-shadow: 0px 0px 6.625rem #0076bb;
}



























/*        Footer        */





footer {
    background-color: #002233;
    color: white;
    text-align: center;
    padding: 0.625rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

